* {
    overflow-x:  hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


nav {
    height: auto;
   background-color: white;
}
menu {
width: 80%;
margin: 0 auto;
display: flex;
justify-content: space-evenly;
align-items: center;

}

menu ul {
    
    width: 40%;
    display: flex;
    justify-content: space-around;
}

menu ul li {
    margin: 0 2%;
    width: 80px;
    list-style: none;
    text-align: center;
}

menu ul li a {
    width: 100%;
    display: inline-block;
    line-height: 5em;
    text-decoration: none;
    font-family: 'Comfortaa';
    color: black;
    transition: 0.2s;
    
}


menu ul li a:hover {
    color: rgb(231, 117, 136);
}


.logo {
    width: 30%;
    height: auto;
    margin: 0 auto;
    padding-right: 150px;
    
    
}



.logo h1 {
    display: block;
    font-size: 2rem;
    text-align: center;
    font-family: 'Lacquer';
    color: rgb(231, 117, 136);
    
}

.logo h2 {
    text-align: center;
    font-size: 1em;
    font-family: 'Lacquer';
    color: rgb(231, 117, 136);
    
}

.profile {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-left: 100px;
    
}

.profile a{
    width: 80px;
    display: inline-block;
    text-align: center;
    line-height: 5em;
    text-decoration: none;
}

.profile img{
transition: 0.8s;
vertical-align: middle;
}

.profile img:hover {
    transition: 1s;
    padding: 2px;
    transform: rotate(360deg);
   
}

.profile button {
    display: none;
}

section {
    width: 100vw;
    height: auto;
}
.content {
    width: 50%;
    margin: 0 auto;
    padding-top: 20vh;
    text-align: center;
    min-height: 50vh;
    font-family: sans-serif;
    font-size: 2em;
}

.wave {
    width: 100%;
    height: 218px;
    overflow: hidden;
    padding-top: 4em;
    position: relative;

}



.wave1 {
    
    background: url("img/wave1.png") repeat-x;
    width: 7000px;
    height: 218px;
    animation: waves 15s infinite linear;
    position: absolute;
    top: 0;
}

.wave2 {
    
    background: url("img/wave2.png") repeat-x;
    width: 7000px;
    height: 218px;
    opacity: 0.4;
    animation: waves 10s infinite linear;
    position: absolute;
    top: 0;
}

@keyframes waves {
    from {
        margin-left: 0;
         
      }
    
      to {
        margin-left: -1938px;
      }
}

.section_two {
    padding-top: 100px;
    background-color:#38cbf6;
}

.text {
    margin: 0 auto;
    width:80%;
}